.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	width: 100%;
	padding: 15px 30px;
	/* margin: 0 0 10px 0; */

	/* background: rgba(var(--color-0), 0.1); */
	border-bottom: 1px solid rgba(var(--color-primary), .1);
	z-index: 999999;
}

.title{
	font-size: 18px;
	font-weight: 600;
	color: rgba(var(--color-8), 1);
}