.box{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999999999;

  background: rgba(var(--color-0), 0);
	/* backdrop-filter: blur(5px); */
}
.title {
  font-size: 15px;
  font-weight: 600;
  color: rgba(var(--color-8), 1);
}
.boxInner{
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 20px 30px 13px 30px;
  border-radius: 20px;
  gap: 15px;
  background: rgba(var(--color-white), .8);
  border: 1px solid rgba(var(--color-8), .1);
  /* box-shadow: 0 0 20px rgba(var(--color-8), .05); */
	backdrop-filter: blur(5px);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid rgba(var(--color-6), 1);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid rgba(var(--color-8), 1);
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 