.mealInfo{
	width: fit-content;
	min-width: 206.6px;

	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;

	background: rgba(var(--color-white), 1);
	border-radius: 5px;
	padding: 20px;
	border: 1px solid rgba(var(--color-primary), .1);
}
.mealInfoTitle{
	width: 100%;
	font-size: 18px;
	font-weight: 600;
}
.mealInfoContent{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 2px;
}