.userInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	/* background-color: rgba(var(--color-0), 0); */
	padding: 20px 30px;

	/* border: 1px solid rgba(var(--color-primary), 0.1); */

	gap: 15px;
	z-index: 999998;
}

.myInfo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 20px;
}

.profileImage{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;

}
.check{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.infoTitle{
	font-size: 14px;
	font-weight: 500;
	color: rgba(var(--color-primary),.4);
}
.infoCont{
	font-size: 18px;
	font-weight: 700;
}
.infoLine{
	width: 1px;
	height: 40px;
	background: rgba(var(--color-primary),.1);
}

.names{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 5px;
}
.name{
	font-size: 18px;
	font-weight: 600;
}
.id{
	font-size: 14px;
	font-weight: 400;
	color: rgba(var(--color-primary), .4);
}
.logout{
	font-size: 14px;
	font-weight: 400;
	color: rgba(var(--color-primary), .4);
	/* color: rgba(var(--color-8), .7); */
	cursor: pointer;
	transition: color .2s ease-in-out;
}
.logout:hover{
	color: rgba(var(--color-8), 1);
}