.main{
	/* background: url(https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding-bottom: 30px;
}

.homeType{
	position: sticky;
	top: 0px;
	background: rgba(var(--color-0),.4);
	backdrop-filter: blur(10px);
	padding: 0 20px;
	gap: 15px;
	border: 1px solid rgba(var(--color-8),.1);
	border-left: 0;
	border-right: 0;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.homeTypeBtn{
	font-size: 14px;
	font-weight: 600;
	color: rgba(var(--color-primary),.4);
	padding: 15px 0;
	justify-content: center;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 2px solid rgba(var(--color-8), 0);

	transition: color .2s ease-in-out, border-bottom .2s ease-in-out;
}
.homeTypeBtnSelected{
	color: rgba(var(--color-primary),1);
	border-bottom: 2px solid rgba(var(--color-8), 1);
}