.main{
	max-width: 100%;
	padding-bottom: 20px;
}

.title{
	width: 100%;
	font-size: 20px;
	font-weight: 600;
}

.title3{
	font-size: 20px;
	font-weight: 600;
}

.titles{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100%;
}
.download{
	font-size: 16px;
	font-weight: 400;
	color: rgba(var(--color-8), .5);
	cursor: pointer;
	transition: color .2s ease-in-out, font-weight .2s ease-in-out;
}
.download:hover{
	font-weight: 600;
	color: rgba(var(--color-8), 1);
}

.Sheet{
	width: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 40px;
}
.box{
	padding: 0 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}
.boxLine{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	margin: 10px 0;
}
.boxLineInner{
	width: 100%;
	height: 1px;
	background: rgba(var(--color-primary), .1);
}

.table{
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 10px;
	width: 100%;
}

.tableDiv{
	width: 100%;
	border-radius: 5px;
	margin-bottom: 5px;
	overflow-x: auto;
	border: 1px solid rgba(var(--color-primary), .1);
}

.table > thead > tr {
	border: .5px solid rgba(var(--color-primary), .1);
	border-left: 0;
	border-right: 0;
}
.table > thead > tr > th{
	padding: 10px 20px;
	background-color: rgba(var(--color-primary), .1);
}

.table > tbody > tr {
	border: .5px solid rgba(var(--color-primary), .1);
	border-left: 0;
	border-right: 0;
}
.table > tbody > tr > td{
	padding: 10px 20px;
	text-align: center;
}

.tables{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}

.title2{
	width: 100%;
	font-size: 18px;
	font-weight: 600;
}