@import url(//fonts.2w.vc/suit/static/font.css);* {
  font-family: SUIT,sans-serif;
  letter-spacing: -.02rem;
  margin: 0;
  padding: 0
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgba(var(--color-primary), 1);
  -webkit-tap-highlight-color : transparent;
  word-break: keep-all;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgba(var(--color-0), 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#__next{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main{
  width: 100%;
  max-width: 700px;
  height: 100%;
  overflow-x: hidden;
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 30px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
div{
  user-select: none;
}

input, textarea, button, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: none;
  border: none;
}

:root{
  --color-0: 253, 249, 255;
  --color-8: 90, 25, 155;
  --color-primary: 17, 0, 44;
  --color-white: 255, 255, 255;
  @media (prefers-color-scheme: dark) { 
    --color-0: 0, 0, 0;
    --color-8: 195, 135, 255;
    --color-primary: 230, 230, 230;
    --color-white: 30, 30, 30;
  }
}
