@import url(//fonts.2w.vc/wanted-sans/static/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Wanted Sans", sans-serif;
  letter-spacing: -.02rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(var(--color-text) / 1);
  -webkit-tap-highlight-color : transparent;
  word-break: keep-all;
}

@layer base {
  :root{
    --font-wanted-sans: "Wanted Sans", sans-serif;

    --color-background: 253 249 255;
    --color-primary: 90 25 155;
    --color-text: 17 0 44;
    --color-white: 255 255 255;
    @media (prefers-color-scheme: dark) { 
      --color-background: 0 0 0;
      --color-primary: 195 135 255;
      --color-text: 230 230 230;
      --color-white: 30 30 30;
    }
    @media (prefers-dark-interface) {
      --color-background: 0 0 0;
      --color-primary: 195 135 255;
      --color-text: 230 230 230;
      --color-white: 30 30 30;
    }
  }
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(var(--color-background) / 0.7);
}
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  max-width: 700px;
}

a {
  color: inherit;
  text-decoration: none;
}
div{
  user-select: none;
}

input, textarea, button, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: none;
  border: none;
}

.loading_background {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: rgb(var(--color-white) / 1);
  background: linear-gradient(-45deg, rgb(var(--color-white) / 1) 8%, rgb(var(--color-text) / 0.1) 18%, rgb(var(--color-white) / 1) 33%);
  background-size: 800px 104px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}