@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.2/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
/* @import url(//fonts.2w.vc/wanted-sans/static/font.css); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Wanted Sans", sans-serif; */
  font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -.02rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(var(--color-text) / 1);
  -webkit-tap-highlight-color : transparent;
  word-break: keep-all;
  transition: var(--transition-default);
}

@keyframes rainbow {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.rainbow {
  background: linear-gradient(to right, rgb(118, 56, 250), rgb(255, 214, 0), rgb(255, 122, 0), rgb(255, 1, 105), rgb(211, 0, 197), rgb(118, 56, 250), rgb(255, 214, 0));
  background-size: 400% 100%;
  animation: rainbow 2s linear infinite;
}

:root {
  overscroll-behavior: none;
}

@layer base {
  :root{
    --key-interval: 300ms;
    --key-color: 64 84 214;
    --color-green: 0 200 5;

    --transition-default: color var(--key-interval) ease-in-out, background-color var(--key-interval) ease-in-out, border var(--key-interval) ease-in-out;

    --color-background-light: 250 250 255;
    --color-text-light: 11 17 54;
    --color-white-light: 255 255 255;

    --color-background-dark: 0 0 0;
    --color-text-dark: 230 230 230;
    --color-white-dark: 15 15 15;

    --color-background-blue: 0 0 255;
    --color-text-blue: 230 230 230;
    --color-white-blue: 66 135 245;

    --color-background-red: 255 0 0;
    --color-text-red: 230 230 230;
    --color-white-red: 245, 66, 66;

    --font-wanted-sans: "Wanted Sans", sans-serif;
    --color-primary: var(--key-color);
    --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
    --color-white: var(--color-white-light);

    @media (prefers-color-scheme: dark) { 
      --color-primary: var(--key-color);
      --color-background: var(--color-background-dark);
      --color-text: var(--color-text-dark);
      --color-white: var(--color-white-dark);
    }
    @media (prefers-color-scheme: light) { 
      --color-primary: var(--key-color);
      --color-background: var(--color-background-light);
      --color-text: var(--color-text-light);
      --color-white: var(--color-white-light);
    }
  }
  :root[color-theme="light"] {
    --color-primary: var(--key-color);
    --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
    --color-white: var(--color-white-light);
  }
  :root[color-theme="dark"] {
    --color-primary: var(--key-color);
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
    --color-white: var(--color-white-dark);
  }
}

::selection {
  background-color: rgb(var(--color-primary) / 1);
  color: rgb(var(--color-background) / 1);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(var(--color-background) / 1);
}
body {
  min-height: calc(100vh + env(safe-area-inset-top) - env(safe-area-inset-bottom));
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}
main {
  max-width: 700px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
div{
  /* user-select: none; */
}

input, textarea, button, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: none;
}

.loading_background {
  animation: placeHolderShimmer .75s ease-in-out infinite alternate;
  background-color: rgb(var(--color-white) / 1);
  background: linear-gradient(to left, rgb(var(--color-white) / 1) 0%, rgb(var(--color-text) / 0.1) 50%, rgb(var(--color-white) / 1) 100%);
  background-size: 200% 100%;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: -100% 0
  }
}

.loader {
  color: rgb(var(--color-primary) / 1);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.rotation {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.texter-outline{
  color: #fff;
  text-shadow: 
  -1px -1px 0 #0000ff,  
  1px -1px 0 #0000ff,
  -1px 1px 0 #0000ff,
  1px 1px 0 #0000ff; /* 윤곽선 색상과 위치 */
  letter-spacing: 0rem;
}

.zoom {
  transform: scale(1.3);
}

#scanner svg {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.input-left::-webkit-date-and-time-value{ text-align:left; }

.Toastify__toast-container{
  padding-top: 12px !important;
  padding-right: 12px !important;
  user-select: none !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  justify-content: center !important;
  gap: 12px !important;
  pointer-events: none;
}
.Toastify__toast {
  padding: 18px 24px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 0 !important;

  /* width: 100% !important; */
  min-width: 320px !important;

  gap: 14px !important;
  pointer-events: all;
}
.Toastify__toast-body {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  gap: 14px;
}
.Toastify__toast-body > div:last-child{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.Toastify__toast-icon{
  margin-inline-end: 0 !important;
}
.Toastify__close-button{
  height: max-content !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
:root {
  --toastify-toast-bd-radius: 999px !important;
  --toastify-toast-min-height: 0 !important;
  --toastify-toast-top: 0 !important;
  --toastify-toast-bottom: 0 !important;
  --toastify-toast-right: 0 !important;
  --toastify-toast-left: 0 !important;
}

@media only screen and (max-width: 520px) {
  .Toastify__toast {
    border-radius: 999px !important;
    min-width: 0 !important;
    width: calc(100% - 32px) !important;
    margin-top: 12px !important;

    position: absolute !important;
    top: var(--toastify-toast-top) !important;
    bottom: var(--toastify-toast-bottom) !important;
  
    height: max-content !important;
  }
  .Toastify__toast-container {
    align-items: center !important;
    padding-top: 12px !important;
    padding-right: 0 !important;
  }
}

.container_table table thead { float:left; }
.container_table table thead tr, 
.container_table table thead tr th { display:block; }

.container_table table tbody { display:block; oveflow-x:hidden; white-space:nowrap; }
.container_table table tbody tr { display:inline-block; }
.container_table table tbody tr td { display:block;}