.title{
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	padding: 0 0 10px 0;
}
.hosil{
	width: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 40px;
}
.box{
	padding: 0 30px;
	width: 100%;
}
.boxLine{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	margin: 10px 0;
}
.boxLineInner{
	width: 100%;
	height: 1px;
	background: rgba(var(--color-primary), .1);
}
.listBox{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	gap: 10px;
}
.hosilTitle{
	width: 45px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 5px;
	text-align: center;
	font-weight: 600;
}
.hosilBox{
	width: 70px;
	height: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 1px solid rgba(var(--color-primary), .1);

	border-radius: 5px;
	text-align: center;

	font-size: 14px;
	transition: background .2s ease-in-out, color .2s ease-in-out;
}
.list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}
.listBox{
	overflow: auto;
}
.dataAble{
	color: rgba(var(--color-primary), .3);
}
.selected{
	background: rgba(var(--color-8), .1);
	color: rgba(var(--color-8), 1);
}
.button{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background: rgba(var(--color-8), 1);
	color: rgba(var(--color-0), 1);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;

	outline: 0;
	border: 0;
	margin-top: 20px;
	transition: opacity .2s ease-in-out;
}
.myHosil{
	color: rgba(var(--color-8), 1);
}