.title{
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	padding: 0 0 10px 0;
}
.stay{
	width: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 40px;
}
.box{
	padding: 0 30px;
	width: 100%;
}
.boxLine{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	margin: 10px 0;
}
.boxLineInner{
	width: 100%;
	height: 1px;
	background: rgba(var(--color-primary), .1);
}

.table{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;

	overflow: auto;
	padding: 0 0 15px 0;
}
.tableI{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
}
.tr{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
}

.thn{
	width: 20px;
	height: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.thInner{
	width: 40px;
	height: 20px;
	border-radius: 2px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tdn{
	width: 20px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tdInner{
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background: rgba(var(--color-primary), .1);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	font-size: 12px;
	font-weight: 500;

	text-align: center;

	transition: color .1s ease-in-out, background .1s ease-in-out;
}

.thn, .thInner, .tdn {
	font-size: 14px;
	font-weight: 200;
}

.tbody{
	display: table-row-group;
	vertical-align: middle;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
}

.nameTable{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.tdClass{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	width: 70px;
}
.tdNum{
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	width: 40px;
}
.tdType{
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	width: 40px;
	padding: 10px 0;
}
.tdPerson{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
}

.trBoxN{
	border: 1px solid rgba(var(--color-primary), .1);
	border-left: 0;
	border-right: 0;
}

.btnBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	gap: 10px;
	text-align: center;
}
.btnBoxCont{
	font-size: 15px;
	font-weight: 500;
	color: rgba(var(--color-primary), .5);
}
.btnBoxCont1{
	margin-bottom: 5px;
}

.btn{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background: rgba(var(--color-8), 1);
	color: rgba(var(--color-0), 1);
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;

	outline: 0;
	border: 0;
}