.wash{
	width: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}
.box{
	width: 100%;
}
.boxLine{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	margin: 10px 0;
}
.boxLineInner{
	width: 100%;
	height: 1px;
	background: rgba(var(--color-primary), .1);
}

.title{
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	padding: 0 30px 10px 30px;
}
.now{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	gap: 5px;
}
.nowBox{
	width: 100%;
	padding: 10px 15px;
	border: 1px solid rgba(var(--color-primary), .1);
	border-radius: 5px;
	/* cursor: pointer; */

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;

	background: rgba(var(--color-white), 1);
}
.nowTitle{
	width: 100%;
	font-size: 16px;
	font-weight: 400;
}
.nowInfo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
}
.nowTimeBox{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
}
.nowTime{
	font-size: 15px;
	font-weight: 600;
}
.nowWho{
	font-size: 15px;
	font-weight: 400;
}

.apply{
	width: 100%;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.applySelect{
	width: 100%;
	padding: 10px 15px;
	border: 1px solid rgba(var(--color-primary), .1);
	border-radius: 5px;
	cursor: pointer;

	background: rgba(var(--color-white), 1);

	font-size: 15px;
	outline: none;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;

	margin: 0;
}
.applyBtn{
	width: 100%;
	padding: 10px 15px;
	/* border: 1px solid rgba(var(--color-primary), .1); */
	border-radius: 5px;

	color: rgba(var(--color-white), 1);
	background: rgba(var(--color-8), .5);
	outline: 0;
	border: 0;

	font-size: 15px;
	font-weight: 600;
	outline: none;

	transition: background .2s ease-in-out;
}
.applyBtnActive{
	background: rgba(var(--color-8), 1);
	cursor: pointer;
}



.applyEnd{
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 5px;
}
.applyEndInfo{
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}
.applyEndData{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
}

.applyEndBtn{
	margin-top: 10px;

	width: 100%;
	padding: 10px 15px;
	/* border: 1px solid rgba(var(--color-primary), .1); */
	border-radius: 5px;

	color: rgba(var(--color-white), 1);
	background: rgba(var(--color-8), 1);
	outline: 0;
	border: 0;

	cursor: pointer;

	font-size: 15px;
	font-weight: 600;
	outline: none;

	transition: background .2s ease-in-out;
}

